- var pageTitle = 'عنا';
- var language = 'ar'
<!DOCTYPE html>
html(lang="ar")
  head
    include helpers/meta
    include helpers/fonts
    include helpers/styles
  body
    include layout/navbar
    .container.mt-5
      .about_us
        .who_1.text-center
          h3( class="who_header pt-5") ما الذي نقدمة ؟
          p.mt-3.who_p
            span.ornge_span.m-2.fa-solid.fa-circle
            |بفضل  
            span.ornge_span  التفكير المبتكر لفريقنا،
            | لا نقدم سوي خدمات متميزه ل تلبيه توقعات عملائنا
            span.ornge_span  ورؤيتهم وأهدافهم . 

          p.mt-3.who_p
            span.ornge_span.m-2.fa-solid.fa-circle
            |بدءا من التصاميم المبتكرة الي 
            span.ornge_span  نفيذ الأجنحة وانتهاء بتشييد المعارض و المؤتمرات
            |    بجودة عالية ووفقا لأفضل المعاير العالمية .

          h3.pt-5.who_header من نحن ؟
          p.mt-3.who_p
            span.ornge_span  مودرن لاين 
            | هي شركة مقاولات متخصصة بتجهيز وتشييدالمؤتمرات و الفعاليات و المعارض علي انواعها, كما نتميز بتقديم كافة الخدامات اللازمة لهذا القطاع .
          img.mt-5.mb-5.img-fluid(src="images/logo-transparent.png" alt="")

        .who_1.text-center.mt-5
          h3.pt-5.who_header لماذا نحن ؟
          p.mt-3.who_p
            span.ornge_span مودرن لاين 
            |   هي واحده من اقوي الشركات المالكة و المستخدمة    
            span.ornge_span  لنظام الأوكتانورم الألماني العالمي (Octanorm System) 
            | لتجهيز المعارض كما تعد من أوائل الشركات المختصة في مجال تشييد و تنفيذ و تقديم خدمات المعارض و المؤتمرات في المملكة العربية السعودية

          p.mt-5.pb-5.who_p
            |كما تختص شركة       
            span.ornge_span  مودرن لاين 
            |بميزة اعتباراها المقاول الرسمي و الذراع التنفيذي لعدد من اهم منظمي 
            span.ornge_span المعارض و المؤتمرات في المملكة العربية السعودية 


    include layout/footer
    include helpers/scripts