- var pageTitle = 'About';
- var language = 'en'
<!DOCTYPE html>
html(lang="en")
  head
    include helpers/meta
    include helpers/fonts
    include helpers/styles
  body
    include layout/navbar
    include components/about_section
    include layout/footer
    include helpers/scripts