- var pageTitle = 'تواصل معنا';
- var language = 'ar'
<!DOCTYPE html>
html(lang="ar")
  head
    include helpers/meta
    include helpers/fonts
    include helpers/styles
  body
    include layout/navbar
    .contact.mb-5
      .container
        .row.align-items-center
          .col-lg-6.col-md-12.col-sm-12.left_contact_us
            .contact_us.text-center
              .container.align-items-center.justify-content-center.ltr
                h5.mt-5 تواصل معنا
                p لديك اي سؤال ؟ سنكون جاهزين لمساعدتك.
                a(href="mailto:info@modernline.com.sa").mt-5.contact_link.d-flex.align-items-center.justify-content-center.direction
                  img.m-3.icon2(src="images/gmail.svg" alt="..")
                  p.mt-2.contact_link-p  info@modernline.com.sa
                a(href="tel:+966504611979").mt-5.contact_link.d-flex.align-items-center.justify-content-center
                  img.m-3.icon2(src="images/phone.svg" alt="..")
                  p.mt-2.contact_link-p  +966504611979
                a(href="tel:+966556641433").mt-5.contact_link.d-flex.align-items-center.justify-content-center
                  img.m-3.icon2(src="images/whatsapp.svg" alt="..")
                  p.mt-2.contact_link-p +966556641433
                .d-flex.mt-4.mx-4.justify-content-evenly
                  .icon-bg.mx-2
                    a(href="")
                      i.fa-brands.fa-facebook-f.fa-lg.text-dark
                  .icon-bg.mx-2
                    a(href="")
                      i.fa-brands.fa-instagram.fa-lg.text-dark
                  .icon-bg.mx-2
                    a(href="")
                      i.fa-brands.fa-x-twitter.fa-lg.text-dark
          .col-lg-6.col-md-12.col-sm-12.right_contact_us.p-5.pt-3
            .container.align-items-center.justify-content-center
              form.row.g-3.needs-validation(novalidate='')
              .col-12.mt-5
                label.form-label(for='validationCustom01') الاسم
                input#validationCustom01.form-control(type='text' value='' required='')
                .valid-feedback
                  | انظر جيدا

              .col-12.mt-5
                label.form-label(for='validationCustomUsername') البريد اللاكتروني
                .input-group.has-validation
                  input#validationCustomUsername.form-control(type='text' aria-describedby='inputGroupPrepend' required='')
                  .invalid-feedback
                    | من فضلك ادخل بريد الكتروني
              .col-12.mt-4
                label.form-label(for='validationCustom03') رقم الهاتف
                input#validationCustom03.form-control(type='text' required='')
                .invalid-feedback
                  | من فضلك ادخل رقم صحيح

              .col-12.mt-4
                label(for='floatingTextarea2') الرساله
                textarea#floatingTextarea2.form-control(placeholder='' style='height: 100px')

              .col-12.mt-5.mb-4
                button.text-center.mybtn(type='submit')
                  |  ارسل الرساله  
                  .fa-solid.fa-paper-plane
    include layout/footer-ar
    include helpers/scripts