- var pageTitle = 'Custom wood made decoration';
- var language = 'en'
<!DOCTYPE html>
html(lang="en")
    head
        include helpers/meta
        include helpers/fonts
        include helpers/styles
    body
        include layout/navbar
        include components/service_view_mixin
        .container.service_view
            h2.text-center.mt-4.service_title #{pageTitle} 
            p.text-center.my-3 description
            .row 
                +service_view(17,"decoration")

        include layout/footer
        include helpers/scripts