- var pageTitle = 'Homepage';
<!DOCTYPE html>
html(lang="en")
    head
        include helpers/meta
        include helpers/fonts
        include helpers/styles
    body
        section.home-page
            div Welcome to this new 
            button.btn.btn-primary OK
        include helpers/scripts