- var pageTitle = 'الرئيسية';
- var language = 'ar'
<!DOCTYPE html>
html(lang="ar")
  head
    include helpers/meta
    include helpers/fonts
    include helpers/styles
  body
    include layout/navbar
    include components/video
    include components/partners
    .background-img 
      p.black_header  Some From our
        span  Projects
      include components/service
      ul.service

        +service("الأوكتانورم ","هو نظام ألماني عالي الجودة سريع التركيب يقدم مجموعة رائعة من الحلول الاقتصادية والعملية لأجنحة المعارض من خلال تشكيلة واسعة من هياكل الألومينيوم وألواح الفايبر",
        "2.png","12.png" ,"16.png","11.png")

        +service("التصاميم","تملك مودرن لاين فريق من المصممين المحترفين والفنانين القادرين على ابتكار تصاميم إبداعية ومميزة تناسب كافة احتياجات العميل لجناحه أو معرضه أو مؤتمره أو فعاليته. يستطيع عملائنا مشاركة أفكارهم واختيار التصميم الذي يناسب رغباتهم ومنحنا شرف تنفيذ وتصميم إبداعهم على أرض الواقع","2.png","12.png" ,"16.png","11.png")

        +service("الديكورات الخشبية","يتم تنفيذ التصاميم المعتمدة وفقا لرغبات العميل وطبقا لمعايير الجودة العالمية من خلال ورشاتنا المجهزة بأحدث المعدات، والفنيين والحرفيين الموجودين في مودرن لاين، والذين يتميزون بسرعة في العمل، ودِقة في التنفيذ.","2.png","12.png" ,"16.png","11.png")

        +service("خدمة الطباعة",": تقدِّم مودرن لاين للعملاء خدمات الطباعة الخاصة بالمؤتمرات، الفعاليات والمعارض على أنواعها بدقة وجودة عالية من خلال أيادٍ ماهرة، ومعدات وتقنيات حديثة.",
        "2.png",
        "12.png" ,
        "16.png",
        "11.png")

        +service("خدمة المفروشات","تقدم مودرن لاين للعملاء خدمة توفير المفروشات الداخلية للأجنحة طبقًا لقائمة معدة خصيصًا لتلبية رغبات العميل وتغطية كافة احتياجات الأجنحة، والفعاليات والمؤتمرات، والمعارض على أنواعها. ",
        "2.png",
        "12.png" ,
        "16.png",
        "11.png")


        +service("خدمة المرئيات والصوتيات","تقدَّم مودرن لاين مجموعة من شاشات العرض الذكية وحلول إضاءة متنوعة، كما توفر مجموعة من المولدات الكهربائية والحلول الفنية التي تناسب الأجنحة وتلبي كافة احتياجات العميل. ",
    "2.png",
    "12.png" ,
    "16.png",
    "11.png")
  include layout/footer
  include helpers/scripts
