- var pageTitle = 'الرئيسية';
- var language = 'ar'
<!DOCTYPE html>
html(lang="ar")
    head
        include helpers/meta
        include helpers/fonts
        include helpers/styles
    body
        include layout/navbar
        div.container
            div.owl-carousel.owl-theme
                div.item
                    img(src="dist/images/logo.jpg", alt="owl_img")
                div.item
                    img(src="dist/images/logo.jpg", alt="owl_img")
                div.item
                    img(src="dist/images/logo.jpg", alt="owl_img")
                div.item
                    img(src="dist/images/logo.jpg", alt="owl_img")            
        








        

        include helpers/scripts
        