- var pageTitle = 'الرئيسية';
- var language = 'ar'
<!DOCTYPE html>
html(lang="ar")
  head
    include helpers/meta
    include helpers/fonts
    include helpers/styles
  body
    include layout/navbar
    include components/video
    include components/partners-ar
    include components/department-ar

    .background-img 
      p.black_header  بعض الصور من
        span  مشاريعنا
      include components/service
      ul.service
      .container.text-center
        .row.align-items-start
          .col-12
            +service("الأوكتانورم ","هو نظام ألماني عالي الجودة سريع التركيب يقدم مجموعة رائعة من الحلول الاقتصادية والعملية لأجنحة المعارض من خلال تشكيلة واسعة من هياكل الألومينيوم وألواح الفايبر",
            "images/services_data/octonorm/1.jpg",
            "images/services_data/octonorm/2.jpg" ,
            "images/services_data/octonorm/3.jpg",
            "images/services_data/octonorm/4.jpg",
            "/octonorm-ar.html", 
            "رؤيه المزيد من مشاريعنا",
            "carouselExample_1",
            "fa-solid fa-arrow-right",
            "fa-solid fa-arrow-left",
            "padd")


          .col-12
            +service("خدمة الديكورات",": تقدِّم مودرن لاين للعملاء خدمات الطباعة الخاصة بالمؤتمرات، الفعاليات والمعارض على أنواعها بدقة وجودة عالية من خلال أيادٍ ماهرة، ومعدات وتقنيات حديثة.",
            "images/services_data/decoration/1.jpg",
            "images/services_data/decoration/1.jpg",
            "images/services_data/decoration/1.jpg",
            "images/services_data/decoration/1.jpg",
            "/decoration-ar.html",
            "رؤيه المزيد من مشاريعنا",
            "carouselExample_4",
            "fa-solid fa-arrow-right",
            "fa-solid fa-arrow-left","padd")

          .col-12
            +service("خدمات الطباعة","تقدم مودرن لاين للعملاء خدمة توفير المفروشات الداخلية للأجنحة طبقًا لقائمة معدة خصيصًا لتلبية رغبات العميل وتغطية كافة احتياجات الأجنحة، والفعاليات والمؤتمرات   . ",
            "images/services_data/printing/1.jpg",
            "images/services_data/printing/1.jpg" ,  
            "images/services_data/printing/1.jpg",
            "images/services_data/printing/1.jpg",
            "/printing-ar.html",
            "رؤيه المزيد من مشاريعنا",
            "carouselExample_5",
            "fa-solid fa-arrow-right",
            "fa-solid fa-arrow-left","padd")

          .col-12
            +service("خدمة المرئيات والصوتيات","تقدَّم مودرن لاين مجموعة من شاشات العرض الذكية وحلول إضاءة متنوعة، كما توفر مجموعة من المولدات الكهربائية والحلول الفنية التي تناسب الأجنحة وتلبي كافة احتياجات العميل. ",
            "images/services_data/media/1.jpg",
            "images/services_data/media/2.jpg" ,  
            "images/services_data/media/3.jpg",
            "images/services_data/media/4.jpg",
            "/media-ar.html",
            "رؤيه المزيد من مشاريعنا",
            "carouselExample_6",
            "fa-solid fa-arrow-right",
            "fa-solid fa-arrow-left","padd")

  include layout/footer-ar
  include helpers/scripts
