- var pageTitle = 'Home';
- var language = 'en'
<!DOCTYPE html>
html(lang="en")
  head
    include helpers/meta
    include helpers/fonts
    include helpers/styles
  body
    include layout/navbar
    include components/video
    include components/partners
    include about
    include components/department
    .background-img 
      p.black_header  Some From our
        span  Projects
      include components/service
      ul.service
        .container.text-center
          .row.align-items-start
            .col-12
              +service("Designs",
                "Modern Line's team of designers and engineers provides exotic ideas that answer the clients wishes, façade and requirements. That doesn’t stop clients from sharing their vision with us to reach an ideal design to execute, and have an exceptional result.",
                "images/services_data/designs/1.jpg",
                "images/services_data/designs/2.jpg" ,
                "images/services_data/designs/3.jpg",
                "images/services_data/designs/4.jpg",
                "/3d_designs.html",
                "See More Projects",
                "carouselExample_2",
                "fa-solid fa-arrow-left",
                "fa-solid fa-arrow-right",
                "padd") 


            .col-12
              +service("Custom-made Wooden Decorations",
                "As the client approves a design, the next step goes to Modern line workshops facilities, where the magic happens, turning the design from a 3D artwork to a 3D architecture reality using nothing but the latest equipment and technology.",
                "images/services_data/decoration/11.jpg",
                "images/services_data/decoration/2.jpg" ,
                "images/services_data/decoration/3.jpg",
                "images/services_data/decoration/4.jpg",
                "/custom_wood_made_decoration.html",
                "See More Projects",
                "carouselExample_3",
                "fa-solid fa-arrow-left",
                "fa-solid fa-arrow-right",
                "padd")

            .col-12
              +service("Octanorm System",
              "Its high-quality, affordability and easy-to-install aluminum frames, poles and fiber panels present a wide range of feasible  and flexible solutions for events and exhibitions pavilions and booths.",
              "images/services_data/octanorm/1.jpg",
              "images/services_data/octanorm/2.jpg" ,
              "images/services_data/octanorm/3.jpg",
              "images/services_data/octanorm/4.jpg",
              "/the_octanorm_system.html", 
              "See More Projects",
              "carouselExample_1",
              "fa-solid fa-arrow-left",
              "fa-solid fa-arrow-right",
              "padd")
            .col-12
              +service("Digital Printing Services","Modern Line offers exclusive printing services for pavilions, exhibitions and conferences. Clients can share their designs to provide high-resolution and top-quality print works.",
                "images/services_data/printing/1.jpg",
                "images/services_data/printing/2.jpg" ,  
                "images/services_data/printing/3.jpg",
                "images/services_data/printing/4.jpg",
                "/digital_printing_services.html",
                "See More Projects",
                "carouselExample_4","fa-solid fa-arrow-left",
                "fa-solid fa-arrow-right","padd")


            .col-12
              +service("Furniture Service","Modern Line provides interior furnishings service for the pavilions, events, conferences and exhibitions. Preferable items can be chosen from a list specifically composed to meet clients' full expectations and ideas.",
              "images/services_data/furniture/1.jpg",
              "images/services_data/furniture/2.jpg" ,  
              "images/services_data/furniture/3.jpg",
              "images/services_data/furniture/4.jpg",
              "/furniture_service.html",
              "See More Projects",
              "carouselExample_6","fa-solid fa-arrow-left",
              "fa-solid fa-arrow-right","padd")
            .col-12
              +service("Media Services","Modern Line presents a wide range of smart display screens and light solutions in addition to electrical generators and technical solutions to fulfill clients' wanted vision for their pavilions, conferences, events or exhibitions in general.",
              "images/services_data/media/1.jpg",
              "images/services_data/media/2.jpg" ,  
              "images/services_data/media/3.jpg",
              "images/services_data/media/4.jpg",
              "/media_services.html",
              "See More Projects",
              "carouselExample_6","fa-solid fa-arrow-left",
              "fa-solid fa-arrow-right","padd")

    include layout/footer
    include helpers/scripts
