- var pageTitle = 'Home';
- var language = 'en'
<!DOCTYPE html>
html(lang="en")
    head
        include helpers/meta
        include helpers/fonts
        include helpers/styles
    body
        include layout/navbar
        .owl-carousel.owl-theme
            div  Your Content 
            div  Your Content 
            div  Your Content 
            div  Your Content 
            div  Your Content 
            div  Your Content 
            div  Your Content 

        include helpers/scripts