- var pageTitle = 'الرئيسية';
- var language = 'ar'
<!DOCTYPE html>
html(lang="ar")
  head
    include helpers/meta
    include helpers/fonts
    include helpers/styles
  body
    include layout/navbar
    include components/video
    include components/partners-ar
    include components/department-ar

    .background-img 
      p.black_header  بعض الصور من
        span  مشاريعنا
      include components/service
      ul.service
      .container.text-center
        .row.align-items-start

          .col-12
            +service("التصاميم","تملك مودرن لاين فريق من المصممين المحترفين والفنانين القادرين على ابتكار تصاميم إبداعية ومميزة تناسب كافة احتياجات العميل لجناحه أو معرضه أو مؤتمره أو فعاليته. يستطيع عملائنا مشاركة أفكارهم واختيار التصميم الذي يناسب رغباتهم ومنحنا شرف تنفيذ وتصميم إبداعهم على أرض الواقع",
            "images/services_data/designs/1.jpg",
            "images/services_data/designs/2.jpg" ,
            "images/services_data/designs/3.jpg",
            "images/services_data/designs/4.jpg",
            "./3d_designs-ar.html",
            "رؤيه المزيد من مشاريعنا",
            "carouselExample_2",
            "fa-solid fa-arrow-right",  
            "fa-solid fa-arrow-left" ,"padd") 

            .col-12
              +service("الديكورات الخشبية","يتم تنفيذ التصاميم المعتمدة وفقا لرغبات العميل وطبقا لمعايير الجودة العالمية من خلال ورشاتنا المجهزة بأحدث المعدات، والفنيين والحرفيين الموجودين في مودرن لاين، والذين يتميزون بسرعة في العمل، ودِقة في التنفيذ.",
              "images/services_data/decoration/11.jpg",
              "images/services_data/decoration/2.jpg" ,
              "images/services_data/decoration/3.jpg",
              "images/services_data/decoration/4.jpg",
              "/custom_wood_made_decoration-ar.html",
              "رؤيه المزيد من مشاريعنا",
              "carouselExample_3",
              "fa-solid fa-arrow-right",
              "fa-solid fa-arrow-left","padd")

          .col-12
            +service("الأوكتانورم ","هو نظام ألماني عالي الجودة سريع التركيب يقدم مجموعة رائعة من الحلول الاقتصادية والعملية لأجنحة المعارض من خلال تشكيلة واسعة من هياكل الألومينيوم وألواح الفايبر",
            "images/services_data/octonorm/1.jpg",
            "images/services_data/octonorm/2.jpg" ,
            "images/services_data/octonorm/3.jpg",
            "images/services_data/octonorm/4.jpg",
            "/octonorm-ar.html", 
            "رؤيه المزيد من مشاريعنا",
            "carouselExample_1",
            "fa-solid fa-arrow-right",
            "fa-solid fa-arrow-left",
            "padd")


          .col-12
            +service("خدمة الطباعة",": تقدِّم مودرن لاين للعملاء خدمات الطباعة الخاصة بالمؤتمرات، الفعاليات والمعارض على أنواعها بدقة وجودة عالية من خلال أيادٍ ماهرة، ومعدات وتقنيات حديثة.",
            "images/services_data/printing/1.jpg",
            "images/services_data/printing/1.jpg",
            "images/services_data/printing/1.jpg",
            "images/services_data/printing/1.jpg",
            "/digital_printing_services-ar.html",
            "رؤيه المزيد من مشاريعنا",
            "carouselExample_4",
            "fa-solid fa-arrow-right",
            "fa-solid fa-arrow-left","padd")

          .col-12
            +service("خدمة المفروشات","تقدم مودرن لاين للعملاء خدمة توفير المفروشات الداخلية للأجنحة طبقًا لقائمة معدة خصيصًا لتلبية رغبات العميل وتغطية كافة احتياجات الأجنحة، والفعاليات والمؤتمرات   . ",
            "images/services_data/furniture/1.jpg",
            "images/services_data/furniture/2.jpg" ,  
            "images/services_data/furniture/3.jpg",
            "images/services_data/furniture/4.jpg",
            "/furniture_service-ar.html",
            "رؤيه المزيد من مشاريعنا",
            "carouselExample_5",
            "fa-solid fa-arrow-right",
            "fa-solid fa-arrow-left","padd")

          .col-12
            +service("خدمة المرئيات والصوتيات","تقدَّم مودرن لاين مجموعة من شاشات العرض الذكية وحلول إضاءة متنوعة، كما توفر مجموعة من المولدات الكهربائية والحلول الفنية التي تناسب الأجنحة وتلبي كافة احتياجات العميل. ",
            "images/services_data/media/1.jpg",
            "images/services_data/media/2.jpg" ,  
            "images/services_data/media/3.jpg",
            "images/services_data/media/4.jpg",
            "/media-ar.html",
            "رؤيه المزيد من مشاريعنا",
            "carouselExample_6",
            "fa-solid fa-arrow-right",
            "fa-solid fa-arrow-left","padd")

  include layout/footer-ar
  include helpers/scripts
