- var pageTitle = 'Home';
- var language = 'en'
<!DOCTYPE html>
html(lang="en")
  head
    include helpers/meta
    include helpers/fonts
    include helpers/styles
  body
    include layout/navbar
    //- include components/video
    include components/partners
    //- include components/home_our_services
    .background-img 
      p.black_header  Some From our
        span Projects
      include components/photo_Carousel
      include components/photo_Carousel
      include components/photo_Carousel

    include layout/footer
    include helpers/scripts