- var pageTitle = 'Home';
- var language = 'en'
<!DOCTYPE html>
html(lang="en")
    head
        include helpers/meta
        include helpers/fonts
        include helpers/styles
    body
        include layout/navbar
        //- include components/video
        include components/partners
        //- include components/home_our_services
        include components/photo_Carousel
        include layout/footer
        include helpers/scripts