- var pageTitle = 'الخدمات الصوتية و المرئية';
- var language = "ar"
<!DOCTYPE html>
html(lang="ar")
    head
        include helpers/meta
        include helpers/fonts
        include helpers/styles
    body
        include layout/navbar
        

        include layout/footer
        include helpers/scripts