- var pageTitle = 'Media services';
- var language = 'en'
<!DOCTYPE html>
html(lang="en")
    head
        include helpers/meta
        include helpers/fonts
        include helpers/styles
    body
        include layout/navbar
        

        include layout/footer
        include helpers/scripts