- var pageTitle = 'الخدمات الصوتية و المرئية';
- var language = "ar"
<!DOCTYPE html>
html(lang="ar")
  head
    include helpers/meta
    include helpers/fonts
    include helpers/styles
  body
    include layout/navbar
    include components/service_view_mixin
    .container.service_view
      h2.text-center.mt-4.service_title #{pageTitle} 
      p.text-center.my-3 تقدَّم مودرن لاين مجموعة من شاشات العرض الذكية وحلول إضاءة متنوعة، كما توفر مجموعة من المولدات الكهربائية والحلول الفنية التي تناسب الأجنحة وتلبي كافة احتياجات العميل. 
      .row 
        +service_view(10,"media")

    include layout/footer-ar
    include helpers/scripts