.container.mt-5
    .about_us
        .who_1.text-center
            h3( class="who_header pt-5") ما الذي نقدمة ؟
            p.mt-3.who_p بفضل  التفكير المبتكر لفريقنا، لا نقدم سوي خدمات متميزه ل تلبيه توقعات عملائناورؤيتهم وأهدافهم . بدءا من التصاميم المبتكرة الي  نفيذ الأجنحة وانتهاء بتشييد المعارض و المؤتمرات بجودة عالية ووفقا لأفضل المعاير العالمية .

            h3.pt-5.who_header من نحن ؟
            p.mt-3.who_p مودرن لاين  هي شركة مقاولات متخصصة بتجهيز وتشييدالمؤتمرات و الفعاليات و المعارض علي انواعها, كما نتميز بتقديم كافة الخدامات اللازمة لهذا القطاع .

            img.w-25.mt-5.mb-5.img-fluid(src="images/logo-transparent.png" alt="")

        .who_1.text-center.mt-5
            h3.pt-5.who_header لماذا نحن ؟
            p.mt-3.who_p مودرن لاين   هي واحده من اقوي الشركات المالكة و المستخدمة  لنظام الأوكتانورم الألماني العالمي (Octanorm System) لتجهيز المعارض كما تعد من أوائل الشركات المختصة في مجال تشييد و تنفيذ و تقديم خدمات المعارض و المؤتمرات في المملكة العربية السعودية

            p.mt-5.pb-5.who_p كما تختص شركة      مودرن لاين  بميزة اعتباراها المقاول الرسمي و الذراع التنفيذي لعدد من اهم منظمي المعارض و المؤتمرات في المملكة العربية السعودية 
