.container.mt-5
    .about_us
        .who_1.text-center
            h3( class="who_header pt-5") What do we offer?
            p.mt-3.who_p
                |Thanks to we the innovative thinking of our team,
                | provide nothing but services Distinguished to meet our customers’ expectations,  vision and goals. 
                |Starting from innovative designs to 
                |implementing wings and ending with Constructing exhibitions and conferences
                | with high quality and in accordance with To the best international standards.

            h3.pt-5.who_header who are we ?
            p.mt-3.who_p
                span Modern line 
                |  is a contracting company specialized in equipment and construction Conferences, events and exhibitions of all kinds , as well We excel in providing all the necessary services for this sector.
            img.w-25.mt-5.mb-5.img-fluid(src="images/logo-transparent.png" alt="")

        .who_1.text-center.mt-5
            h3.pt-5.who_header Why us?
            p.mt-3.who_p
                span Modern Line 
                | is one of the strongest companies that owns and uses 
                span  the global German Octanorm System. 
                | To prepare exhibitions, it is also one of the first companies specialized in the field of construction, implementation and provision of exhibition services And conferences in the Kingdom of Saudi Arabia 

            p.mt-5.pb-5.who_p
                span Modern Line  
                |Company also has the advantage of being considered the official contractor and executive arm for a number of the most important organizers 
                span Exhibitions and conferences in the Kingdom of Saudi Arabia 
