.department
  .container
    h5.service.text-start الاقسام 
      span.our الخاصه بنا
    .row.align-items-start.text-center
      .col-lg-4.col-md-6.col-sm-12.mt-4
        .card.h-100
          a.stretched-link(data-aos="fade-up" href="3d_designs-ar.html")
            img.card-img-top(src='images/services_data/designs/1.jpg' alt='...')
            .card-body
              h5.card-title التصاميم
              p.card-text تملك مودرن لاين فريق من المصممين المحترفين والفنانين القادرين على ابتكار تصاميم إبداعية ومميزة تناسب كافة احتياجات العميل لجناحه أو معرضه أو مؤتمره أو فعاليته. يستطيع عملائنا مشاركة أفكارهم واختيار التصميم الذي يناسب رغباتهم ومنحنا شرف تنفيذ وتصميم إبداعهم على أرض الواقع
      .col-lg-4.col-md-6.col-sm-12.mt-4
        .card.h-100
          a.stretched-link(data-aos="zoom-in" href="custom_wood_made_decoration-ar.html")
            img.card-img-top(src='images/services_data/decoration/1.jpg' alt='...')
            .card-body
              h5.card-title الديكورات الخشبيه
              p.card-textAs يتم تنفيذ التصاميم المعتمدة وفقا لرغبات العميل وطبقا لمعايير الجودة العالمية من خلال ورشاتنا المجهزة بأحدث المعدات، والفنيين والحرفيين الموجودين في مودرن لاين، والذين يتميزون بسرعة في العمل، ودِقة في التنفيذ
      .col-lg-4.col-md-6.col-sm-12.mt-4
        .card.h-100
          a.stretched-link(data-aos="fade-up" href="the_octanorm_system-ar.html")
            img.card-img-top(src='images/services_data/octanorm/1.jpg' alt='...')
            .card-body
              h5.card-title الأوكتانورم
              p.card-text هو نظام ألماني عالي الجودة سريع التركيب يقدم مجموعة رائعة من الحلول الاقتصادية والعملية لأجنحة المعارض من خلال تشكيلة واسعة من هياكل الألومينيوم وألواح الفايبر"
      .col-lg-4.col-md-6.col-sm-12.mt-4
        .card.h-100
          a.stretched-link(data-aos="fade-up" href="furniture_service-ar.html")
            img.card-img-top(src='images/services_data/furniture/1.jpg' alt='...')
            .card-body
              h5.card-title خدمة المفروشات
              p.card-text تقدم مودرن لاين للعملاء خدمة توفير المفروشات الداخلية للأجنحة طبقًا لقائمة معدة خصيصًا لتلبية رغبات العميل وتغطية كافة احتياجات الأجنحة، والفعاليات والمؤتمرات، والمعارض على أنواعها.
      .col-lg-4.col-md-6.col-sm-12.mt-4
        .card.h-100
          a.stretched-link(data-aos="zoom-out" href="./media_services-ar.html")
            img.card-img-top(src='images/services_data/media/1.jpg' alt='...')
            .card-body
              h5.card-title خدمة المرئيات والصوتيات
              p.card-text تقدَّم مودرن لاين مجموعة من شاشات العرض الذكية وحلول إضاءة متنوعة، كما توفر مجموعة من المولدات الكهربائية والحلول الفنية التي تناسب الأجنحة وتلبي كافة احتياجات العميل.
      .col-lg-4.col-md-6.col-sm-12.mt-4
        .card.h-100
          a.stretched-link(data-aos="fade-up" href="./digital_printing_services-ar.html")
            img.card-img-top(src='images/services_data/printing/1.jpg' alt='...')
            .card-body
              h5.card-title خدمة الطباعة
              p.card-text تقدم مودرن لاين للعملاء خدمة توفير المفروشات الداخلية للأجنحة طبقًا لقائمة معدة خصيصًا لتلبية رغبات العميل وتغطية كافة احتياجات الأجنحة، والفعاليات والمؤتمرات، والمعارض على أنواعها.

