.department
  .container
    h5.our our 
      span.service services
    .row.align-items-start.text-center
      .col-lg-4.col-md-6.col-sm-12.mt-4
        a(data-aos="fade-up" href="3d_designs.html").card.mycard
          img.card-img-top(src='images/services_data/designs/1.jpg' alt='...')
          .card-body
            h5.card-title 3d design
            p.card-text Modern Line's team of designers and engineers provides exotic ideas that answer the clients wishes, façade and requirements. That doesn’t stop clients from sharing their vision with us to reach an ideal design to execute, and have an exceptional result.
      .col-lg-4.col-md-6.col-sm-12.mt-4
        a(data-aos="zoom-in" href="custom_wood_made_decoration.html").card.mycard
          img.card-img-top(src='images/services_data/decoration/1.jpg' alt='...')
          .card-body
            h5.card-title Custom-made Wooden Decorations
            p.card-textAs the client approves a design, the next step goes to Modern line workshops facilities, where the magic happens, turning the design from a 3D artwork to a 3D architecture reality using nothing but the latest equipment and technology.
      .col-lg-4.col-md-6.col-sm-12.mt-4
        a( data-aos="fade-up" href="the_octanorm_system.html").card.mycard
          img.card-img-top(src='images/services_data/octanorm/1.jpg' alt='...')
          .card-body
            h5.card-title Octanorm System
            p.card-text Its high-quality, affordability and easy-to-install aluminum frames, poles and fiber panels present a wide range of feasible  and flexible solutions for events and exhibitions pavilions and booths.
      .col-lg-4.col-md-6.col-sm-12.mt-4
        a( data-aos="fade-up" href="furniture_service.html").card.mycard
          img.card-img-top(src='images/services_data/furniture/1.jpg' alt='...')
          .card-body
            h5.card-title Furniture Service 
            p.card-text Modern Line provides interior furnishings service for the pavilions, events, conferences and exhibitions. Preferable items can be chosen from a list specifically composed to meet clients' full expectations and ideas.
      .col-lg-4.col-md-6.col-sm-12.mt-4
        a(data-aos="zoom-out" href="./media_services.html").card.mycard
          img.card-img-top(src='images/services_data/media/1.jpg' alt='...')
          .card-body
            h5.card-title Media Services
            p.card-text Modern Line presents a wide range of smart display screens and light solutions in addition to electrical generators and technical solutions to fulfill clients' wanted vision for their pavilions, conferences, events or exhibitions in general
      .col-lg-4.col-md-6.col-sm-12.mt-4
        a( data-aos="fade-up" href="./digital_printing_services.html").card.mycard
          img.card-img-top(src='images/services_data/printing/1.jpg' alt='...')
          .card-body
            h5.card-title Digital Printing Services
            p.card-text Modern Line offers exclusive printing services for pavilions, exhibitions and conferences. Clients can share their designs to provide high-resolution and top-quality print works. 

