.container
  .section-carousel
    .container
      .text-center
        h3.head-text octa
        p.p-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever. 
      .slideshow-container
        .mySlides.fade
          img(src="images/logo-transparent.png" style='width:100%')
        .mySlides.fade
          img(src='images/partners/14.png' style='width:100%'  alt='')
        .mySlides.fade
          img(src="images/logo-transparent.png" sstyle='width:100%')

        a.prev(onclick='plusSlides(-1)') &#x276E;
        a.next(onclick='plusSlides(1)') &#x276F;
      br
      div(style='text-align:center')
        span.dot(onclick='currentSlide(1)')
        span.dot(onclick='currentSlide(2)')
        span.dot(onclick='currentSlide(3)')


