.container
  .section-carousel
    .container
      .text-center.mb-5
        h3.head-text octa
        p.p-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever. 
      .slideshow-container
        .mySlides.fade
          img(src="images/logo-transparent.png" style='width:100%')
        .mySlides.fade
          img(src='images/partners/14.png' style='width:100%'  alt='')
        .mySlides.fade
          img(src="images/logo-transparent.png" style='width:100%')

        a.prev(onclick='plusSlides(-1)') 
          i.fa-solid.fa-arrow-left
        a.next(onclick='plusSlides(1)') 
          i.fa-solid.fa-arrow-right
      br
      div(style='text-align:center')
        span.dot(onclick='currentSlide(1)')
        span.dot(onclick='currentSlide(2)')
        span.dot(onclick='currentSlide(3)')
      .container.text-center.mt-5
        .row.align-items-center
          .col-lg-4.col-md-6.col-sm-0
          .col-lg-4.col-md-6.col-sm-12
            .see_more.text-center
              a(href="#")
              |See More Projects
          .col-lg-4.col-md-6.col-sm-0




