mixin service(project_name, description , image_url_1 ,  image_url_2 , image_url_3 , image_url_4  )
  li.service= name 
    .container.text-center.section-service
      .row.align-items-start
        .col-12
          .container.text-center
            h2.name-service= project_name
            h4.description-service= description
            include lightbox
      .align-items-center.container-fluid.justify-content-center
        .row
          .col-lg-4.col-md-3.col-sm-3
          .col-lg-4.col-md-6.col-sm-6.see-more.mb-5
            a(href="")
              h4 See More Projects
          .col-lg-4.col-md-3.col-sm-3 
