footer 
    .container.text-center
        .row.align-items-center
            .col-lg-4.col-sm-12.text-center.align-items-center.mt-5 
                h5 home 
                h6 Departments
                h6 Our Projects
                h6 About us

            .col-lg-4.col-sm-12.text-center.align-items-center.mt-5
                h5 Contact us
                a(href="mailto:Feras@modernline.com.sa") 
                    i.fa-regular.fa-envelope.fa-2x.mx-2
                a(href="mailto:Sales@modernline.com.sa") 
                    i.fa-regular.fa-envelope.fa-2x.mx-2
                hr
                a(href="tel:966556641433") 
                    i.fa-brands.fa-whatsapp.fa-2x.mx-2
                a(href="tel:966541190500") 
                    i.fa-brands.fa-whatsapp.fa-2x.mx-2

            .col-lg-4.col-sm-12.text-center.align-items-center.mt-5
                h5 Contact us
                h6 Gmail
                h6 WhatsApp
                h6 Phone number
            .col-lg-4.col-sm-12.text-center.align-items-center
                img.img-fluid.w-100(src="images/logo-transparent.png" alt="logo")

