footer 
  .container.text-start.mycontainer
    .row.align-items-center
      .col-lg-3.col-sm-12.text-center.align-items-center.mt-5
        a(href="./index.html") 
          h5.orange  Home
        a(href="./about.html") 
          h5 About us
        a(href="./contact_us.html") 
          h5 Contact us
      .col-lg-6.col-sm-12.text-center.align-items-start.mt-5
        h5.orange Contact us
        a(href="mailto:info@modernline.com.sa") 
          h6
            i.fa-regular.fa-envelope
            |  info@modernline.com.sa
        a(href="mailto:feras@modernline.com.sa") 
          h6
            i.fa-regular.fa-envelope
            |  feras@modernline.com.sa

        a(href="tel:+966504611979") 
          h6
            i.fa-solid.fa-phone
            |  966504611979 
        a(href="tel:+966556641433") 
          h6
            i.fa-solid.fa-phone
            |  966556641433 


      .col-lg-3.col-sm-12.text-center.align-items-center.mt-5
        img.img-fluid.w-100(src="images/logo-transparent.png" alt="logo")
        .container.text-center
          .m-3.mt-0.orange  Follow us 
          .row.align-items-center
            .col
              a(href="tel:+966556641433") 
                h6 
                  i.fa-solid.fa-phone.text-dark
            .col
              a(href="mailto:info@modernline.com.sa")
                h6 
                  i.fa-regular.fa-envelope.text-dark
            .col
              h6
                i.fa-brands.fa-x-twitter.text-dark

.under_footer
  |All copyrights reserved @2024

