footer 
  .container.text-start.mycontainer
    .row.align-items-center
      .col-lg-3.col-sm-12.text-center.align-items-center.mt-5
        a(href="#") 
          h5.orange  الرئيسيه
        a(href="#") 
          h5 خدماتنا
        a(href="./about.html") 
          h5 من نحن
        a(href="./contact_us.html") 
          h5 تواصل معنا

      .col-lg-6.col-sm-12.text-center.align-items-start.mt-5
        a(href="#") 
          h5.orange تواصل معنا 
        a(href="mailto:info@modernline.com.sa") 
          h6
            i.fa-regular.fa-envelope
            |  info@modernline.com.sa
        a(href="mailto:Sales@modernline.com.sa") 
          h6
            i.fa-regular.fa-envelope
            |  Sales@modernline.com.sa

        a(href="tel:966556641433") 
          h6

            i.fa-solid.fa-phone
            |  966556641433 
        a(href="tel:966541190500") 
          h6
            i.fa-solid.fa-phone
            |  966541190500 


      .col-lg-3.col-sm-12.text-center.align-items-center.mt-5
        img.img-fluid.w-100(src="images/logo-transparent.png" alt="logo")
        .container.text-center
          .m-3.mt-0.orange  Follow US 
          .row.align-items-center
            .col
              a(href="tel:966541190500") 
                h6 
                  i.fa-solid.fa-phone
            .col
              a(href="mailto:Sales@modernline.com.sa")
                h6 
                  i.fa-regular.fa-envelope
            .col
              a(href="#") 
                h6
                  i.fa-brands.fa-twitter

.under_footer
  |All copyrights reserved @2024

