footer 
    .container.text-center
        .row.align-items-center
            .col-lg-4.col-sm-12.text-center.align-items-center.mt-5 
                h5 home 
                h6 Departments
                h6 Our Projects
                h6 About us

            .col-lg-4.col-sm-12.text-center.align-items-center.mt-5
                h5 Contact us
                a(href="") Gmail
                a(href="") WhatsApp
                a(href="") Gmail

            .col-lg-4.col-sm-12.text-center.align-items-center.mt-5
                h5 Contact us
                h6 Gmail
                h6 WhatsApp
                h6 Phone number    
                
            .col-lg-4.col-sm-12.text-center.align-items-center.mt-5 
                img.img-fluid.w-100(src="dist/images/logo.jpg", alt="logo")

