-var navItems = [["Home", 'index.html'], ["About"] , ["Categories"] , ["Specialties"]  ];
-var navItemsAr = [["الرئيسية", 'index-ar.html'] ,["عنا","about-ar.html"] ,["الاقسام" , "categories-ar.html"] ,["التخصصات" , "specialties-ar.html"]  ];
nav.navbar.navbar-expand-lg
    .container-fluid
        a.navbar-brand(href='#') 
            img(src="images/logo-transperant.png" alt="Site logo" width="100")
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mx-auto.mb-2.mb-lg-0
                if language == "en"
                    each item in navItems
                        li.nav-item
                            if pageTitle == item[0]
                                a.nav-link.active(aria-current='page', href= item[1] ? item[1] : item[0].toLowerCase() + ".html" )= item[0]
                            else
                                a.nav-link(aria-current='page', href= item[1] ? item[1] : item[0].toLowerCase() + ".html" )= item[0]
                else
                    ul.navbar-nav.mx-auto.mb-2.mb-lg-0
                        each item in navItemsAr
                            li.nav-item
                                if pageTitle == item[0]
                                    a.nav-link.active(aria-current='page', href= item[1] ? item[1] : item[0].toLowerCase() + "-ar.html" )= item[0]
                                else
                                    a.nav-link(aria-current='page', href= item[1] ? item[1] : item[0].toLowerCase() + "-ar.html" )= item[0]
            if (language == "ar")
                each item , index in navItemsAr
                    if(item[0] == pageTitle)
                        a.link-offset-2.link-underline.link-underline-opacity-0.language.text-dark.fw-bold(href =  navItems[index][1] ? navItems[index][1] : (navItems[index][0]).toLowerCase() + '.html') English
            else 
                each item , index in navItems
                    if(item[0] == pageTitle)
                        a.link-offset-2.link-underline.link-underline-opacity-0.language.text-dark.fw-bold(href =  navItems[index][1] ? navItems[index][1] : (navItems[index][0]).toLowerCase() + '-ar.html') عربى