$main_color: #f06023;
$secondary_color: #303030;
$nav_bg: #E3E3E3;;
$primary_gray_color: #E3E3E3;
// $secondary_gray_color: ;
// $primary_orange_color: ;
// $secondary_orange_color: ;
// $main_text_color: ;
// $secondary_text_color: ;
