.about_us {
  background: #fffaf4;
  padding: 48px 32px;
}
.who_1 {
  border-radius: 30px;
  background: #ededed;
  box-shadow: 0px 6px 2px 0px rgba(130, 169, 188, 0.08),
    0px 5px 50px 0px rgba(0, 68, 101, 0.08);
}
.who_header {
  color: #ee682c;
  font-size: 32px;
  font-weight: 600;
}
.who_p {
  color: #000;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 90%;
  margin: auto;
}
.ornge_span {
  color: #ee682c;
  font-size: 24px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .about_us {
    background: #fffaf4;
    padding: 0px;
  }
}
