@mixin white-gradient {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%);
}

.partners_container {
  border-bottom: 6px solid #ee682c;
}

// Styling
.slider {
  background: #f4f4f4;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  .slide-track {
    display: flex;
  }

  .slide {
    height: 100px;
    width: 250px;
    margin: 0 20px;
  }
}

.partners-text {
  color: #ee682c;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.our_partners {
  border-left: 1px solid #d4d4d4;
}

.partners_row {
  background: #f4f4f4;
}