@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

:root {
  &[lang="ar"] {
    direction: rtl;
  }

  body {
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;

    a {
      text-decoration: none;
      color: #999;
    }
  }
}
