@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

:root {
    &[lang='ar'] {
        direction: rtl;
    }

    body {
        box-sizing: border-box;
        font-family: "Noto Kufi Arabic", sans-serif;

        a {
            text-decoration: none;
            color: #999
        }
    }
}