@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

:root {
  &[lang="ar"] {
    direction: rtl;
  }
  

  body {
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    background-image: url("../images/background.png");

    a {
      text-decoration: none;
      color: #999;
    }
    // font-size: 0.8rem;
    // font-size: 62.5%;
  }

  ::-webkit-scrollbar {
    width: 13px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb {
    background: #ee682c;
    border-radius: 15px;
  }
}
