- var pageTitle = 'Homepage';
<!DOCTYPE html>
include pug/layout/IE-HTML
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/fonts
        include pug/layout/styles
    body
        section.home-page
            div Welcome to this new site now
        include pug/layout/scripts