
script(src="js/bootstrap.bundle.min.js")

//owl carousel jquery file
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")

//owl carousel js file
script(src="js/owl.carousel.min.js")

//my Js file
script(src="js/main.js")




// livreload
script(src="http://localhost:35729/livereload.js")