
script(src="js/bootstrap.bundle.min.js")

//- //owl carousel jquery file
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")

//- //my Js file
script(src="js/main.min.js")

// owl carousel js file
script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')


// livereload
script(src="http://localhost:35729/livereload.js")


