//site icon
link(rel="icon" href="images/logo.jpg")

//normalize library
link(rel="stylesheet" , href="css/normalize.css")


//bootstrap
if(language == 'en')
    link(rel="stylesheet" , href="css/bootstrap.min.css")
else
    link(rel="stylesheet" href="css/bootstrap.rtl.min.css")

// Font awesome
link(rel="stylesheet" href="css/all.min.css")

//my css file
link(rel="stylesheet" href="css/style.min.css")